@model Timashev_PI_Lab.Models.Recipe
@{
    ViewData["Title"] = "Добавление продукта";
}

<h1>Добавление продукта</h1>

@using (Html.BeginForm("AddProduct"))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Name)
    <p>Продукт: @Html.DropDownList("productlist", (SelectList)ViewBag.ProductsList)</p>
    <p>Грамм: <input name="Gram" type="number" step="0.01"/></p>

    @Html.ValidationSummary()
    <p><input type="submit" value="Сохранить" /></p>
}
