@model Timashev_PI_Lab.Models.Recipe

@{
    ViewData["Title"] = "Удаление рецепта";
}

<h1>Удаление рецепта</h1>

<h3>Вы уверены, что хотите удалит этот рецепт?</h3>
<div>
    <h4>Рецепт</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
