@model Timashev_PI_Lab.Models.Product
@{
    ViewData["Title"] = "Добавление хим. элемента";
}

<h1>AddChemElement</h1>

@using (Html.BeginForm("Добавление хим. элемента"))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Name)
    <p>Хим. Элемент: @Html.DropDownList("chemElementlist", (SelectList)ViewBag.ChemElementsList)</p>
    <p>Грамм: <input name="Gramm" type="text" pattern="\d{1,4}([,\.]\d{2})?" required/></p>

    @Html.ValidationSummary()
    <p><input type="submit" value="Сохранить" /></p>
}
