@{
    ViewData["Title"] = "О программе";
    ViewData["NoAuth"] = true;
}

<p>
    Разрабатываемое приложение представляет собой систему формирования технологических карт.
</p>

<p>Автором является Тимашев Евгений, студент УлГТУ, группы ИСЭбд-31.</p>