@{
    ViewData["Title"] = "Домашняя страница";
    ViewData["NoHeader"] = true;
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Выберите один из пунктов меню выше, чтобы начать работу с системой.</p>
</div>
